<html>

<header>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/cv.css">
</header>

<body>

  <div class="topProfileSection">

    <h1 id="profileHeader">Profile</h1>
    <p id="profileDescription">Electrical & Electronics Engineer</p>
    <div class="profileLineBreak"></div>

</div>


<div class="middleProfileSection">
    <div class="aboutMe">

        <h1 id="hobbiesAndSkillsHeader">Hobbies & Skills </h1>

        <div class="hobbiesAndSkillsInnerContainer">

          <img id ="hobbyImg" src="static/img/programing.svg"></img>
          <p id =hobbyDescription>Programming</p>

          <img id ="hobbyImg" src="static/img/gamepad-console.svg"></img>
          <p id =hobbyDescription>Gaming</p>

          <img id ="hobbyImg" src="static/img/passport.svg"></img>
          <p id =hobbyDescription>Traveling</p>

           <img id ="hobbyImg" src="static/img/swimming-pool.svg"></img>
          <p id =hobbyDescription>Swiming</p>

      
        </div>

    </div>

    <img id="presonalImage" src="static/img/profilePic.jpg"></img>


    <div class="profileDetails">

        <h1 id="detailsHeader">Details</h1>

        <p id="personalName"> <b>Name : </b> <br><br> <span id="greyText"> Hashem Abed Al Jawad </span></p>
        <p id="personalAge"> <b>Age : </b> <br><br> <span id="greyText">24 years old </span> </p>
        <p id="personalLocation"> <b>Location : </b> <br><br> <span id="greyText"> Jerusalem </span></p>
    </div>
</div>

<h1 id="strengthsAndWeaknessesHeader">Strengths & Weaknesses </h1>

<div class="strengthsAndWeaknessesSection">

  <div class="strengthsAndWeaknessesInnerContainer">
  <img id ="strengthsAndWeaknessesImg" src="static/img/reading-book.svg"></img>
          <p id =strengthsAndWeaknessesDescription>Self-Learner</p>
  </div>
  <div class="strengthsAndWeaknessesInnerContainer">
    <img id ="strengthsAndWeaknessesImg" src="static/img/literary.svg"></img>
            <p id =strengthsAndWeaknessesDescription>Too Detail Oriented</p>
    </div>

    <div class="strengthsAndWeaknessesInnerContainer">
      <img id ="strengthsAndWeaknessesImg" src="static/img/light-bulb.svg"></img>
              <p id =strengthsAndWeaknessesDescription>Creativity</p>
      </div>

    <div class="strengthsAndWeaknessesInnerContainer">
      <img id ="strengthsAndWeaknessesImg" src="static/img/criticism.svg"></img>
              <p id =strengthsAndWeaknessesDescription>Self-Critical</p>
      </div>


</div>


</div>

</div>
  
</body>

</html>
