<html>

<header>
    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/master.css">
</header>

<body>
    <div class="container">

        <div class="headerSection" style="background-image:url(/static/img/background.jpg)">
    
    
            <h1 id="personalNameIntro">Hashem Abed Al Jawad</h1>
            <div class="lineBreak"></div>
            <p id="introHeader">Interactive CV</p>
    
            <div class="downArrowContainer bounce">
                <a href="/cv"><img id="downArrow" src="/static/img/downArrow.svg"></img> </a>
            </div>
    
    
        </div>


</body>

</html>
